{% extends 'base.html' %} {% block content %}
<div>
<h2>Incidencia</h2>
<ul class="stadistic">
<li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Tasa a 14 días:</a> {{tasaInc14}} de incidencia acumulada a 14 días</div></li>
<li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Tasa a 7 días:</a>  {{tasaInc7}} de incidencia acumulada a 7 días</div></li>
</ul>
</div>
<div>
                <h2>Fallecidos y recuperados totales</h2>
                <ul>
                    <li><div class="overview_card-icon"><img class="square" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Recuperados totales:</a>{{recovered}} recuperados en total</div></li>
                    <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Fallecidos totales:</a>{{deceased}} fallecidos en total</div></li>
                </ul>
            </div>
            <div>
                <h2>Estado de los municipios</h2>
                <ul>
                    <li><div class="overview_card-icon"><img src="https://icon-library.com/images/map-location-icon/map-location-icon-10.jpg"><a active="false" class="underline">Municipios +500 IA:</a> {{townships500list}}</div></li>
                    <li><div class="overview_card-icon"><img src="https://icon-library.com/images/map-location-icon/map-location-icon-10.jpg"><a active="false" class="underline">Municipios +1000 IA:</a> {{townships1000list}}</div></li>
                </ul> 
                </div>       
        </div>

        <div class="flex-grid">
            <div>
                <h2>Aumento de los contagios</h2> 
    <canvas
      class="responsive-canvas"
      id="pie-chart"
    ></canvas>
            </div>
            <div>
                <h2>Evolución de hospitalizados</h2> 
     <canvas
      class="responsive-canvas"
      id="pie-chart3"
    ></canvas>
            </div>
        </div>
  <script>
        var ctx = document.getElementById('pie-chart').getContext('2d');
        var data_1 = {
            datasets: [{
            fill: true,
            borderColor: "#e5a276",
            backgroundColor: "#e9be91",
            borderWidth: 1,
            label: 'Contagios en un día',
            data: {{ dataAument|safe }}
            }],
            labels: {{ labels|safe }}
            };
        var chart1 = new Chart(ctx, {
            type: 'bar',
            data: data_1,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
                });

          var ctx_3 = document.getElementById('pie-chart3').getContext('2d');
          var data_3 = {
            datasets: [{
            borderColor: "#009688",
            backgroundColor: "#99dcd1",
            borderWidth: 1,
            label: 'Hospitalizados Conv',
            data: {{ dataHospitalizedCounter|safe }}
            },
            {
            borderColor: "#de425b",
            backgroundColor: "#f3babc",
            label: 'UCI',
            borderWidth: 1,
            data: {{ dataICU|safe }}
            }
            ],
            labels: {{ labels |safe }}
            };
          var chart3 = new Chart(ctx_3, {
             type: 'bar',
            data: data_3,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
                });
                
  </script>
  {% endblock %}
</div>
