{% extends 'base.html' %} 
{% block content %} 
<div>
<h2>Incidencia</h2>
<ul>
<li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">IA 14:</a> {{ tshipIncidence }} de incidencia a 14 días</div></li>
<li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Aumento:</a> {{ tshipAument }} nuevo(s) caso(s)</div></li>
<li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Tasa a 7 días:</a>{{ tasa7days }}  de incidencia a 7 días</div></li>
</ul>
</div>

<div>
<h2>Fallecidos y recuperados totales</h2>
<ul>
                    <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Recuperados totales</a>: {{recovered}} recuperados en total</div></li>
                    <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Fallecidos totales</a>: {{deceased}} fallecidos en total</div></li>
                </ul>
            </div>
        </div>

        <div class="flex-grid">
            <div>
                <h2>Aumento diario de contagios</h2> 
                <canvas class="responsive-canvas" id="pie-chart" width="350" height="230"></canvas>
            </div>
        </div>

  <script>
    var ctx = document.getElementById('pie-chart').getContext('2d');
    var data_1 = {
        datasets: [
        {
        borderWidth: 1,
        backgroundColor: "#f6e3bd",
        borderColor: "#99dcd1",
        fill: true,
        label: 'Confirmados 14 días',
        data: {{ confirmed14days|safe }}
        }
        ],
        labels: {{ labels|safe }}
        };

    var chart1 = new Chart(ctx, {
        type: 'line',
        data: data_1,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
    });

  </script>
  {% endblock %}
</div>
