{% extends 'base.html' %}
{% block content %}
   
            <div class="stadistic_card">
               <h2>Incidencia</h2>
            <ul class="stadistic">
                <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Tasa a 14 días</a>: <b>{{tasaInc14}} de incidencia acumulada a 14 días</b></div></li>
                <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Tasa a 7 días</a>: <b>{{tasaInc7}} de incidencia acumulada a 7 dias</b></div></li>
                <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Aumento con el día anterior</a>: <b>+{{percentageAument}}%</b></div>
                </li>
            </ul>
              </div>
            <div class="stadistic_card">
                <h2>Fallecidos y recuperados totales</h2>
                <ul>
                    <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Recuperados totales</a>: {{recovered}}</div></li>
                    <li><div class="overview_card-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCcDYVx18qGpJaLVJFNSGUoQfLEXd6zAMv3A&usqp=CAU"><a active="false" class="underline">Fallecidos totales</a>: {{deceased}}</div></li>
                </ul>
            </div>
        </div>

        <div class="flex-grid">
            <div>
                <h2>Aumento diario de contagios</h2> 
                <canvas class="responsive-canvas" id="pie-chart" width="350" height="230"></canvas>
            </div>
            <div>
                <h2>Evolución diaria de fallecidos y curados</h2> 
               <canvas class="responsive-canvas" id="pie-chart2" width="350" height="230"></canvas>
            </div>
        </div>

        <div class="flex-grid">
            <div>
                <h2>Aumento en hospitalización</h2>
                <canvas class="responsive-canvas" id="pie-chart3" width="350" height="230"></canvas>
            </div>
<script>
    var ctx = document.getElementById('pie-chart').getContext('2d'); 
    var data_1 = {
        datasets: [{
        fill: true,
        borderColor: "#e5a276",
        backgroundColor: "#e9be91",
        borderWidth: 1,
        label: 'Contagios en un día',
        color: setColorText(),
        data: {{ dataAument|safe }}
        }],
        labels: {{ labels|safe }}
        };  
    var chart1 = new Chart(ctx, {
        type: 'bar',
        data: data_1,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
        });
    
    var ctx_2 = document.getElementById('pie-chart2').getContext('2d'); 
    var data_2 = {
        datasets: [{
        type: 'line',
        borderColor: "#de425b",
        backgroundColor: "#f3babc",
        fill: true,
        label: 'Fallecidos totales',
        data: {{ deceasedList |safe }}
        },
        {
        borderColor: "#009688",
        backgroundColor: "#99dcd1",
        borderWidth: 1,
        label: 'Curados totales',
        data: {{ recoveredList |safe }}
        }
        ],
        labels: {{ labels2 |safe }}
        }; 
    var chart2 = new Chart(ctx_2, {
        type: 'bar',
        data: data_2,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
            });
    var ctx_3 = document.getElementById('pie-chart3').getContext('2d'); 
    var data_3 = {
        datasets: [{
        borderColor: "#de425b",
        borderWidth: 1,
        backgroundColor: "#e5645c",
        label: 'UCI',
        data: {{ dataICU|safe }}
        },
        {
        borderColor: "#e98163",
        borderWidth: 1,
        backgroundColor: "#ec9c71",
        label: 'Convencional',
        data: {{ dataHospitalizedCounter|safe }}
        }
        ],
        labels: {{ labels2 |safe }}
        };  
    var chart3 = new Chart(ctx_3, {
         type: 'bar',
        data: data_3,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
            });        
</script>
{% endblock %}
</div>