@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  content: "";
  display: block;
  position: absolute;
}
html,
body {
  height: 100%;
}
body {
  font: 15px "Open Sans", sans-serif;
  color: #777;
}
a {
  cursor: pointer;
}

code {
  padding: 10px !important;
  background: black !important;
  color: white !important;
  font-size: 13px;
}

pre {
  padding: 10px !important;
  background: rgb(65, 62, 62) !important;
  color: white !important;
  font-size: 13px;
  border-color: #777;
  border-radius: 10px;
}

.btn {
  font-family: "DM Sans", sans-serif;
  border-radius: 0px;
  font-size: 13px;
}

ul {
  list-style: none;
}
.wrapper {
  display: flex;
  min-height: 100%;
}
nav {
  width: 200px;
  background: #404040;
}

h2 {
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
  font-family: "DM Sans", sans-serif;
}

nav header {
  position: relative;
  height: 80px;
  padding: 20px 0 0 15px;
  font-size: 16px;
  color: #fff;
  background: #333;
  font-family: "DM Sans", sans-serif;
}
nav header .logo img {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  border: 1px solid #fff;
}

nav header a::before {
  content: "\f0c9";
  font: normal 20px fontawesome;
  top: 28px;
  color: white;
  right: 15px;
}
nav ul span {
  display: block;
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-bottom: 1px solid #333;
}
nav ul a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px 15px 17px 50px;
  color: #fff;
  border-bottom: 1px solid #333;
}
nav ul a:hover,
nav ul a.active {
  background: #535353;
  color: #dee7e0;
}

a:not([href]):not([tabindex]) {
  color: #dee7e0;
  text-decoration: none;
}

#pkProvince {
  width: 80px;
  padding: 10px;
  border: rgb(153, 149, 149);
  border-radius: 0px;
  font: 13px "Open Sans", sans-serif;
  background-color: rgb(212, 206, 206);
  margin-right: 10px;
}

nav ul a:before {
  font: normal 16px fontawesome;
  top: 15px;
  left: 18px;
}
/* nav ul li:nth-child(2) a:before {
	 content: '\f00a';
}
 nav ul li:nth-child(3) a:before {
	 content: '\f012';
}
 nav ul li:nth-child(4) a:before {
	 content: '\f018';
}
 nav ul li:nth-child(5) a:before {
	 content: '\f024';
}
 nav ul li:nth-child(6) a:before {
	 content: '\f0c3';
}
 nav ul li:nth-child(7) a:before {
	 content: '\f09b';
}
 nav ul li:nth-child(8) a:before {
	 content: '\f0fa';
}
 nav ul li:nth-child(10) a:before {
	 content: '\f002';
}
 nav ul li:nth-child(11) a:before {
	 content: '\f085';
}
 nav ul li:nth-child(12) a:before {
	 content: '\f08b';
}
 */
main {
  flex: 1;
  padding: 25px;
  background: #f5f5f5;
}
main h1 {
  height: 80px;
  margin: -25px -25px 25px -25px;
  padding: 0 25px;
  line-height: 76px;
  font-size: 24px;
  font-weight: 400;
  background: #ddd;
}
.flex-grid {
  display: flex;
}
.flex-grid > div {
  flex: 1;
  border-radius: 10px;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  background-size: 50px;
  background-position: top 5px right 10px;
  background-image: url("https://media.flaticon.com/dist/min/img/landing/coronavirus/virus.svg");
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}
.flex-grid > div:last-child {
  margin-right: 0;
}
.flex-grid h2 {
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  border-bottom: 1px solid #ddd;
}
.flex-grid li {
  position: relative;
  margin: 0 0 10px;
}

.flex-grid li img {
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

input {
  border-radius: 10px;
  height: 32px;
  font-size: 14px;
  width: 500px;
  margin-left: 8px;
  padding: 10px;
  line-height: normal;
  border: none;
  padding: 5px;
}

input:focus {
  outline: none;
}

.tship_list_img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.button {
  background-color: #ecf0f1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  vertical-align: auto;
  text-decoration: none;
  zoom: 1;
  border: 1px solid #ecf0f1;
  height: 32px;
  line-height: 32px;
  padding: 0 25.6px;
  font-weight: 300;
  font-size: 14px;
  border-radius: 10px;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
  text-align: center;
}

.fa fa-search {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.territory {
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

.info_prov_detail {
  margin-top: 20px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

p > a:not([href]):not([tabindex]) {
  color: #666;
  text-decoration: none;
  cursor: text;
}

.overview_card-icon > a:not([href]):not([tabindex]) {
  color: #666;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  cursor: text;
}
/* Underline for links using background-image */
.bg-underline {
  background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
  background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: 0% 65%;
  transition: background-position 0.5s ease 0s;
}

.bg-underline:hover {
  background-position: 0% 100%;
}

/* Underline for links using box-shadow */
.shadow-underline {
  box-shadow: inset 0 -0.45em 0 #c5ffc3;
  transition: box-shadow 0.5s ease;
}

.shadow-underline:hover {
  box-shadow: inset 0 -1.25em 0 #c3c9ff;
}

/* Decorative static underline */
.underline {
  padding-right: 0.5em;
  box-shadow: inset 0 -0.55em 0 #dbdbdb;
}

@media (max-width: 1000px) {
  .flex-grid {
    flex-direction: column;
  }
  .flex-api {
    flex-direction: row;
  }
  .flex-grid > div {
    margin-right: 0;
  }
}

h2.error_text {
  font-size: 80px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  main {
    flex: 1;
    padding: 25px;
    background: #494545;
  }
  main h1 {
    height: 80px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 76px;
    font-size: 24px;
    font-weight: 400;
    background: #404040;
  }

  .flex-grid > div {
    flex: 1;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background: #535353;
    color: white;
    background-blend-mode: color-burn;
    background-size: 50px;
    background-position: top 5px right 10px;
    background-image: url("https://media.flaticon.com/dist/min/img/landing/coronavirus/virus.svg");
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
  }
  p,
  b {
    color: white;
  }

  h2 {
    color: white;
  }

  .territory {
    color: white;
  }

  .overview_card-icon > a:not([href]):not([tabindex]) {
    color: rgb(247, 247, 247);
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    cursor: text;
  }

  .bg-underline {
    background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-position: 0% 65%;
    transition: background-position 0.5s ease 0s;
  }

  .bg-underline:hover {
    background-position: 0% 100%;
  }

  /* Underline for links using box-shadow */
  .shadow-underline {
    box-shadow: inset 0 -0.45em 0 #183318;
    transition: box-shadow 0.5s ease;
  }

  .shadow-underline:hover {
    box-shadow: inset 0 -1.25em 0 #1a4728;
  }

  /* Decorative static underline */
  .underline {
    padding-right: 0.5em;
    box-shadow: inset 0 -0.55em 0 #153a2f;
  }

  p > a:not([href]):not([tabindex]) {
    color: rgb(241, 241, 241);
    text-decoration: none;
    cursor: text;
  }

  a {
    color: white;
  }
}
